.projects{
  float:left;
  padding-top:2em;
  width:100%;
  display: flex;
/* justify-content: center; */
  align-items: center;
}
.projects-child{
  width: 49%;
  display: inline-block;
  min-height: 5em;

}
.titleimage{
  min-width: 180px;
}
